@using System.Globalization;
@using BusinessObject;
@model IEnumerable<BusinessObject.Models.Product>
@{
    ViewData["Title"] = "Product Page";
}

<br />

<form method="get">
    <div class="container p-4 border">
        <div class="row">
            <div class="col text-right pb-2">
                <a asp-controller="Product" asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Product</a>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col">
                <h1 class="text-primary">Product List</h1>
            </div>
            <div class="mx-auto col">
                <div class="form-group has-search align-items-center">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" name="search" class="form-control" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
</form>

<table id="productTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>Action</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script type="text/javascript">
        var table;
        const isAdmin = Boolean(@(User.IsInRole(SD.AdminRole) ? 1 : 0));
        $(document).ready(function () {
            reloadTable();
            function reloadTable() {
                table = $('#productTable').DataTable({
                    "ajax": {
                        "url": "https://localhost:44357/api/Product",
                        "type": "GET",
                        "contentType": "application/json",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [
                        { "data": "productName" },
                        { "data": "category.categoryName" },
                        { "data": "weight" },
                        { "data": "unitPrice" },
                        { "data": "unitsInStock" },
                        {
                            "data": null, render: function (data, type, row) {
                                var btn = '<button class="btn btn-primary" onclick="addProduct(' + row.productId + ')">Order</button>';
                                if (isAdmin) {
                                    btn += ' <a class="btn btn-success" href="https://localhost:44375/Product/Edit/' + row.productId + '">Edit</a>';
                                    btn += ' <button class="btn btn-danger" onclick="deleteProduct(' + row.productId + ')">Delete</button>';
                                }
                                return btn;
                            }
                        }
                    ]
                });
            }
        });
    </script>
}